{% extends "@BestDealMain/n2.html.twig" %}

{% block n3 %}

    <class class="row">
        <div class="col-xs-offset-2 col-lg-8 category">
            <ul class="list-unstyled list-inline">
                <span>Recherche par catégorie :</span>
                <li><a href="">Sport</a></li>
                <li><a href="">Jeux</a></li>
                <li><a href="">Maison</a></li>
                <li><a href="">Voiture</a></li>
                <li><a href="">Livres</a></li>
                <li><a href="">Enfants</a></li>
                <li><a href="">Autres</a></li>
            </ul>
            <hr>
        </div>
    </class><!-- div.row -->
    {% for ad in ads %}
    <div class="row annonce">
        <div class="col-xs-4 picture">
            <a href="">
                <img src="{{ asset('bundles/bestdealmain/pictures/aquarium350.jpg') }}" alt="">             </a>
        </div>
        <div class="col-xs-offset-1 col-xs-7 content">
            <h1>{{ ad.getTitle }}</h1>
            <br>
            <p>{{ ad.getDescription }}</p>
            <br>
            <button><a href="">En savoir plus</a></button>
        </div>
    </div><!-- div.row -->
    {% endfor %}
{% endblock %}