{% extends "@BestDealMain/n2.html.twig" %}

{% block n3 %}

    <class class="row">
        <div class="col-xs-offset-2 col-lg-8 category">
            <ul class="list-unstyled list-inline">
                <span>Recherche par catégorie :</span>
                <li><a href="">Sport</a></li>
                <li><a href="">Jeux</a></li>
                <li><a href="">Maison</a></li>
                <li><a href="">Voiture</a></li>
                <li><a href="">Livres</a></li>
                <li><a href="">Enfants</a></li>
                <li><a href="">Autres</a></li>
            </ul>
            <hr>
        </div>
    </class><!-- div.row -->
    <!-- Boucle for -->
    <div class="row annonce">
        <div class="col-xs-4 picture">
            <a href="">
                <img src="{{ asset('bundles/bestdealmain/pictures/aquarium350.jpg') }}" alt="">             </a>
        </div>
        <div class="col-xs-offset-1 col-xs-7 content">
            <h1>Titre de l'article</h1>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid architecto asperiores dolore ducimus error impedit iure libero magni, mollitia odit perspiciatis quas reiciendis sint vel velit vero? Architecto, molestias.</p>
            <br>
            <button><a href="">En savoir plus</a></button>
        </div>
    </div><!-- div.row -->
    <!-- Fin boucle For -->
    <div class="row annonce">
        <div class="col-xs-4 picture">
            <a href="">
                <img src="{{ asset('bundles/bestdealmain/pictures/mizuno350.jpg') }}" alt="">             </a>
        </div>
        <div class="col-xs-offset-1 col-xs-7 content">
            <h1>Titre de l'article</h1>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid architecto asperiores dolore ducimus error impedit iure libero magni, mollitia odit perspiciatis quas reiciendis sint vel velit vero? Architecto, molestias.</p>
            <br>
            <button><a href="">En savoir plus</a></button>
        </div>
    </div><!-- div.row -->

    <div class="row annonce">
        <div class="col-xs-4 picture">
            <a href="">
                <img src="{{ asset('bundles/bestdealmain/pictures/lotdenounours350.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-xs-offset-1 col-xs-7 content">
            <h1>Titre de l'article</h1>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid architecto asperiores dolore ducimus error impedit iure libero magni, mollitia odit perspiciatis quas reiciendis sint vel velit vero? Architecto, molestias.</p>
            <br>
            <button>En savoir plus</button>
        </div>
    </div><!-- div.row -->

    <div class="row annonce">
        <div class="col-xs-4 picture">
            <a href="">
                <img src="{{ asset('bundles/bestdealmain/pictures/nezrouge350.jpg') }}" alt="">             </a>
        </div>
        <div class="col-xs-offset-1 col-xs-7 content">
            <h1>Titre de l'article</h1>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid architecto asperiores dolore ducimus error impedit iure libero magni, mollitia odit perspiciatis quas reiciendis sint vel velit vero? Architecto, molestias.</p>
            <br>
            <button>En savoir plus</button>
        </div>
    </div><!-- div.row -->

    <div class="row annonce">
        <div class="col-xs-4 picture">
            <a href="">
                <img src="pictures/beauxlivres350.jpg" alt="">             </a>
        </div>
        <div class="col-xs-offset-1 col-xs-7 content">
            <h1>Titre de l'article</h1>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid architecto asperiores dolore ducimus error impedit iure libero magni, mollitia odit perspiciatis quas reiciendis sint vel velit vero? Architecto, molestias.</p>
            <br>
            <button>En savoir plus</button>
        </div>
    </div><!-- div.row -->

    <div class="row annonce">
        <div class="col-xs-4 picture">
            <a href="">
                <img src="pictures/oreiller350.jpg" alt="">             </a>
        </div>
        <div class="col-xs-offset-1 col-xs-7 content">
            <h1>Titre de l'article</h1>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid architecto asperiores dolore ducimus error impedit iure libero magni, mollitia odit perspiciatis quas reiciendis sint vel velit vero? Architecto, molestias.</p>
            <br>
            <button>En savoir plus</button>
        </div>
    </div><!-- div.row -->

{% endblock %}