{% extends  "@BestDealMain/n2.html.twig" %}

{% block n3 %}
    <div class="row annonce_detail">
        <div class="col-lg-6">
            <img src="{{ asset('bundles/bestdealmain/pictures/original/aquarium.jpg') }}" alt="">
        </div>
        <div class="col-lg-6">
            <h1>Titre de l'article</h1>
            <h2>Auteur / Date de publication</h2>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto commodi earum explicabo fuga magnam nisi nostrum, omnis, praesentium rem temporibus voluptate. Culpa eaque fuga laborum officia provident similique ut.</p>
            <h2>Prix : </h2>
            Répondre à l'annonce :
            <form action="">
                lalalla
            </form>
        </div>
    </div><!-- row -->
{% endblock %}